---
layout: page
title: Design
description: This is all of my design shit which is very designy for people to looke at quizzically or burn to the ground.
---

{% include header.html %}
<section class="design-content">
	<img class = "design-thumb" src = "img/design/Flam.jpg">
	<img class = "design-thumb" src = "img/design/olden.jpg">
	<img class = "design-thumb" src = "img/design/departures.jpg">
	<img class = "design-thumb" src = "img/design/departures-2.jpg">
	<img class = "design-thumb" src = "img/design/billboard.jpg">
	<img class = "design-thumb" src = "img/design/billboard-2.jpg">
	<img class = "design-thumb" src = "img/design/enko-binary.png">
	<img class = "design-thumb" src = "img/design/enko-pirate.png">

</section>
<div class = "footer-space">
	{% include footer.html %}
