<div class = "homepage">
	<div class ="fine-art hover">
		<img src = "img/DVD-Drive.png">
		<div class = "overlay">
			<a href = "fine-art.html">Fine Art</a>
		</div>
	</div>
	<div class ="design hover">
		<img src = "img/Flam.png">
		<div class = "overlay">
			<a href = "design.html">Design</a>
		</div>
	</div>
	<div class ="web hover">
		<img src = "img/Google.png">
		<div class = "overlay">
			<a href = "code.html">Code</a>
		</div>
	</div>
	<div class="space">
		<a href="mailto:adamcollierart@gmail.com" target="_top"><h1>adamcollierart@gmail.com</h1>
	</div></a>
</div>
