<div class = "homepage">
	<div class ="fine-art hover" style = "background-image: url({{ site.baseurl }}/img/DVD-Drive.png); background-color: #FFC7C8">
		<!--<img src = "img/DVD-Drive.png">-->
		<div class = "overlay">
			<a href = "fine-art.html">Fine Art</a>
		</div>
	</div>
	<div class ="design hover" style = "background-image: url({{ site.baseurl }}/img/Flam.png); background-color: #FFD5AD">
		<!--<img src = "img/Flam.png">-->
		<div class = "overlay">
			<a href = "design.html"><em>Design</em></a>
		</div>
	</div>
	<div class ="web hover" style = "background-image: url({{ site.baseurl }}/img/Google.jpg); background-color: #C7DEFF">
		<!--<img src = "img/Google.png">-->
		<div class = "overlay">
			<a href = "code.html">&lt;/code&gt;</a>
		</div>
	</div>
	<div class="space">
		<a class="space" href="mailto:adamcollierart@gmail.com" target="_top"><h1>adamcollierart@gmail.com</h1>
	</div></a>
</div>
